In [17]:
#Import Libraries cell
import pandas as pd

In [18]:
#Load csv and create dataframe
df_churndata = pd.read_csv('TelcoCustomerChurnUSETHIS.csv')
df_churndata.head()
# df_churndata.value_counts(normalize=True)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [19]:
#There are no missing values in the dataset. TOO CLEAN! lol
df_churndata.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [20]:
#Check for NaNs
for col in df_churndata:                                                                                 
    print(df_churndata[col].value_counts)

<bound method IndexOpsMixin.value_counts of 0       7590-VHVEG
1       5575-GNVDE
2       3668-QPYBK
3       7795-CFOCW
4       9237-HQITU
           ...
7038    6840-RESVB
7039    2234-XADUH
7040    4801-JZAZL
7041    8361-LTMKD
7042    3186-AJIEK
Name: customerID, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Female
1         Male
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: SeniorCitizen, Length: 7043, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0       Yes
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040    Yes
7041    Yes
7042     No
Name: Partner, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040    Yes
7041     No
7042     No
Name: Dependents, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        1
1       34
2        2
3       45
4        2
        ..
7038    24
7039    72
7040    11
7041     4
7042    66
Name: tenure, Length: 7043, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0        No
1       Yes
2       Yes
3        No
4       Yes
       ...
7038    Yes
7039    Yes
7040     No
7041    Yes
7042    Yes
Name: PhoneService, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       No phone service
1                     No
2                     No
3       No phone service
4                     No
              ...
7038                 Yes
7039                 Yes
7040    No phone service
7041                 Yes
7042                  No
Name: MultipleLines, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0               DSL
1               DSL
2               DSL
3               DSL
4       Fiber optic
           ...
7038            DSL
7039    Fiber optic
7040            DSL
7041    Fiber optic
7042    Fiber optic
Name: InternetService, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1       Yes
2       Yes
3       Yes
4        No
       ...
7038    Yes
7039     No
7040    Yes
7041     No
7042    Yes
Name: OnlineSecurity, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Yes
1        No
2       Yes
3        No
4        No
       ...
7038     No
7039    Yes
7040     No
7041     No
7042     No
Name: OnlineBackup, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1       Yes
2        No
3       Yes
4        No
       ...
7038    Yes
7039    Yes
7040     No
7041     No
7042    Yes
Name: DeviceProtection, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2        No
3       Yes
4        No
       ...
7038    Yes
7039     No
7040     No
7041     No
7042    Yes
Name: TechSupport, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040     No
7041     No
7042    Yes
Name: StreamingTV, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2        No
3        No
4        No
       ...
7038    Yes
7039    Yes
7040     No
7041     No
7042    Yes
Name: StreamingMovies, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Month-to-month
1             One year
2       Month-to-month
3             One year
4       Month-to-month
             ...
7038          One year
7039          One year
7040    Month-to-month
7041    Month-to-month
7042          Two year
Name: Contract, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       Yes
1        No
2       Yes
3        No
4       Yes
       ...
7038    Yes
7039    Yes
7040    Yes
7041    Yes
7042    Yes
Name: PaperlessBilling, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0                Electronic check
1                    Mailed check
2                    Mailed check
3       Bank transfer (automatic)
4                Electronic check
                  ...
7038                 Mailed check
7039      Credit card (automatic)
7040             Electronic check
7041                 Mailed check
7042    Bank transfer (automatic)
Name: PaymentMethod, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        29.85
1        56.95
2        53.85
3        42.30
4        70.70
         ...
7038     84.80
7039    103.20
7040     29.60
7041     74.40
7042    105.65
Name: MonthlyCharges, Length: 7043, dtype: float64>
<bound method IndexOpsMixin.value_counts of 0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object>

### We see below that there are 3 datatypes: float64(1), int64(2), object(18)

In [23]:
#There are 7043 entries
# df_churndata.describe()
df_churndata.Contract.unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

### We change CHURN values from YES/NO to 1/0

In [ ]:
 #use map method
df_churndata['Churn'] = df_churndata['Churn'].map({'Yes': 1, 'No':0})
# df_churndata['Churn']

### Save the new dataframe as a new csv file

In [ ]:
# df.to_csv('file1.csv') 
df_churndata.to_csv('TelcoCustomerChurn[MODIFIED].csv')

## So far so good. The data looks clean. There are no NaNs and isna() returned zeros across the board. I've mapped 1/0 for Churn Yes/No. Will proceed to EDA.

## We will be using "TelcoCustomerChurn[MODIFIED].csv" moving forward